@import './font-awesome/font-awesome.css';
@import './vxe-table/vxe-table.css';

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  --uno: scrollbar-none;
}

/* fallback to vh if dvh is not supported */
#app {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

html.dark {
  --cui-body-color: rgba(255, 255, 255, 0.8);
}

/* Override CoreUI Modal */
.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal-fullscreen {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.table-layout {
  th,
  td {
    --uno: align-top text-lg font-400;
  }

  th {
    --uno: pb-2;
  }

  td {
    --uno: pb-4;
  }
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: 'bg-white:75 dark:bg-neutral-900:75 backdrop-blur-8 color-base font-sans rounded border border-#aaa3 shadow dark:shadow-2xl';
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: 'border-white dark:border-neutral-900';
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-#aaa3;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

.table-layout th {
  --uno: pb-2;
}

.table-layout td {
  --uno: pb-4;
}
